<!-- Modal -->
<div class="modal fade" id="CreateSong" tabindex="-1" aria-labelledby="CreateSongLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CreateSongLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label class="form-label">Ruta del archivo</label>
                <input type="text" id="file" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="fnSaveSong()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#CreateSong').modal('show');

    });

    function fnSaveSong(){
        var archivo = document.getElementById('file').value;

        $.ajax({
            url: '@Url.Action("SaveMetadataSong", "Music")',
            type: 'POST',
            data: {archivo: archivo},
            success: function(response){
                alert(response.message);
                
                if(response.success){
                    window.location.reload();
                }

            },
            error: function(){
                alert('Ocurrio un error inesperado en la solicitud AJAX');
            }
        })
    }

</script>